/*
* Checkout popup
*/
.awp-otp-popup {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.awp-otp-popup-content {
    pointer-events: auto;
    background-color: #fff;
    margin: auto;
    margin-top: 15%;
    max-width: 400px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0rem 1.25rem 1.25rem -0.5rem rgba(26,26,26,.28);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.awp-otp-box {
    display: flex;
    align-items: center;
    padding: 24px;
    background: #fff;
    flex-direction: column;
    position: relative;
}

.awp-otp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    padding-top: 0;
}

.awp-btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

.awp-otp-popup-close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 24px;
}

.awp-otp-popup-close:hover,
.awp-otp-popup-close:focus {
    color: #ea0038;
    text-decoration: none;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    gap: 8px;
    box-sizing: border-box;
}

.otp-input {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 28px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    aspect-ratio: 1;
    box-sizing: border-box;
    font-weight: 600;
    font-family: inherit;
    color: #333;
}

:where(.wp-site-blocks :focus) {
    outline: none;
    border: 1px solid #005bd3 !important;
}

#user_phone_number {
    color: #141b38;
    font-weight: 700;
}

#awp_otp_input {
  max-width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
  background-color: #fff;
  max-height: 48px;
  font-family: inherit;
  width: -moz-available;
  height: 48px;
  max-height: 48px;
}

#awp_verify_otp_btn {
    background-color: #22c55e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease,color 0.3s ease;
}

#awp_verify_otp_btn:hover {
    background-color: #16a34a;
    color: #ffffff;
}

#awp_resend_otp_btn {
    background: #f1f1f1;
    color: #141b38 !important;
    border: 1px solid #ddd !important;
    margin-top: 8px;
}

#awp_resend_otp_btn:hover {
    color: #1689db;
    text-decoration: underline;
}

.awp-icon-wrapper {
  display: flex;
  padding: 8px;
  border-radius: 999px;
  background: linear-gradient(180deg, #e2e8f0, transparent);
  margin-bottom: 8px;
}

#otp-icon {
  font-size: 52px;
  line-height: 1;
  padding: 12px;
  background: linear-gradient(180deg, #fff, transparent);
  border-radius: 999px;
  box-shadow: 0 -4px 2px 0 rgba(0,0,0,0.05);
  color: #22c55e;
}

.awp-title {
    font-size: 24px;
    color: #141b38;
    line-height: 1.6;
    font-weight: bold;
    font-family: inherit;
    margin: 0;
}

.awp-desc {
    font-size: 14px;
    color: #434960;
    line-height: 1.6;
    margin: 0;
    text-align: center;
    font-weight: 400;
}

#awp_resend_timer {
    font-size: 14px;
    font-family: inherit;
    color: #666;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

.awp-otp-error {
    font-size: 14px;
    font-family: inherit;
    color: #ea0038 !important;
    line-height: 1.6;
    font-weight: 500;
    display: none;
}

input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
}

.awp-powered-by {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 16px;
    color: #fff;
    gap: 8px;
    z-index: 999;
}

.awp-powered-by a {
    color: #00bb77;
    text-decoration: none;
    display: flex;
    margin-top: 3px;
}


.woocommerce-message.custom-message {
  font-size: 15px;
  font-weight: 400;
}

.awp-powered-by a:hover {
    text-decoration: underline;
}

/* Media query for tablets and phones */
@media screen and (max-width: 1024px) {
    .awp-otp-popup-content {
        width: 80% !important;
        margin-top: 30%;
    }
}

@media screen and (max-width: 768px) {
    .awp-otp-popup-content {
        width: 90% !important;
        margin-top: 50%;
    }
    .otp-inputs {
        gap: 8px !important;
    }
    .otp-input {
        font-size: 18px !important;
    }
    .awp-title {
        font-size: 20px !important;
    }
    .awp-desc {
        font-size: 14px !important;
    }
    #awp_verify_otp_btn, #awp_resend_otp_btn {
        padding: 0.4rem 0.8rem !important;
    }
}

.awp-popup-message {
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    max-width: 100%;
    width: -moz-available;
}


.custom-message-success {
    color: #15803d;
    background-color: #e0faec;
}

.custom-message-error {
    color: rgb(185, 28, 28);
    background-color: rgb(254, 202, 202);
}


.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown {
  width: 100% !important;
}
